<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Content-Language" content="pt-br">
        <meta name="title" content="Smallish">
        <meta name="description" content="Smallish - Suas URL's um tanto pequenas. Encurte suas urls de forma rápida e gratuita">
        <meta name="keywords" content="encurtador url, gratis, free, url shortener, url, shortener, short url, encurtar url">
        <meta name="robots" content="index, follow">
        <meta name="language" content="Portuguese">
        <meta name="author" content="Cabra Dev">
        <meta property="og:title" content="Smallish">
        <meta property="og:site_name" content="Smallish">
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Suas URL's um tanto pequenas. Encurte suas urls de forma rápida e gratuita">
        <meta property="og:image" content="https://smll.sh/images/meta-image.png">
        <meta property="og:url" content="https://smll.sh">
        <meta name="twitter:title" content="Smallish">
        <meta name="twitter:description" content="Suas URL's um tanto pequenas. Encurte suas urls de forma rápida e gratuita">
        <meta name="twitter:image" content="https://smll.sh/images/meta-image.png">
        <meta name="twitter:image:alt" content="Smallish">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@cabra_dev">
        <meta name="twitter:creator" content="@cabra_dev">

        <!-- Css -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        {% block styles %}{% endblock %}

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->

        <script>
            const baseUrl = '{{ baseUrl }}';
        </script>
        {% block headScripts %}{% endblock %}

        <title>Smallish | {% block title %}{% endblock %}</title>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-RZ4ZZ46DK0"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-RZ4ZZ46DK0');
        </script>
    </head>
    <body>
        {% include 'layouts/_messages.html.twig' %}
        <div class="container" style="max-width: 720px">
            <header class="top-header text-center mt-2">
                <a href="https://github.com/dersonsena/small-sh" target="_blank">
                    <img alt="GitHub forks" src="https://img.shields.io/github/forks/dersonsena/small-sh?style=social">
                </a>
                <a href="https://github.com/dersonsena/small-sh" target="_blank">
                    <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/dersonsena/small-sh?style=social">
                </a>
            </header>
            {% block content %}{% endblock %}
        </div>

        <!-- Load jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        <script src="/js/script.js" type="text/javascript"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
