<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Content-Language" content="pt-br">
        <meta name="title" content="Smallish">
        <meta name="description" content="Smallish - Suas URL's um tanto pequenas. Encurte suas urls de forma rápida e gratuita">
        <meta name="keywords" content="encurtador url, gratis, free, url shortener, url, shortener, short url, encurtar url">
        <meta name="robots" content="index, follow">
        <meta name="language" content="Portuguese">
        <meta name="author" content="Cabra Dev">
        <meta property="og:title" content="Smallish">
        <meta property="og:site_name" content="Smallish">
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Suas URL's um tanto pequenas. Encurte suas urls de forma rápida e gratuita">
        <meta property="og:image" content="https://smll.sh/images/meta-image.png">
        <meta property="og:url" content="https://smll.sh">
        <meta name="twitter:title" content="Smallish">
        <meta name="twitter:description" content="Suas URL's um tanto pequenas. Encurte suas urls de forma rápida e gratuita">
        <meta name="twitter:image" content="https://smll.sh/images/meta-image.png">
        <meta name="twitter:image:alt" content="Smallish">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@cabra_dev">
        <meta name="twitter:creator" content="@cabra_dev">

        <!-- Google font -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700,900' rel='stylesheet' type='text/css'>

        <!-- Css -->
        <link rel="stylesheet" type="text/css" href="/css/library/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/library/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/library/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="/css/md-font.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/custom.css">
        {% block styles %}{% endblock %}

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->

        {% block headScripts %}{% endblock %}

        <title>{% block title %}{% endblock %} | Devtube Treinamentos</title>
    </head>
    <body id="page-top">
        <!-- PAGE WRAP -->
        <div id="page-wrap">
            {% block content %}{% endblock %}
        </div>

        <!-- Load jQuery -->
        <script type="text/javascript" src="/js/library/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/js/library/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/library/jquery.owl.carousel.js"></script>
        <script type="text/javascript" src="/js/library/jquery.appear.min.js"></script>
        <script type="text/javascript" src="/js/library/perfect-scrollbar.min.js"></script>
        <script type="text/javascript" src="/js/library/jquery.easing.min.js"></script>
        <script type="text/javascript" src="/js/scripts.js"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>
