<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Content-Language" content="pt-br">

        <!-- Google font -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700,900' rel='stylesheet' type='text/css'>

        <!-- Css -->
        <link rel="stylesheet" type="text/css" href="/css/library/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/library/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/library/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="/css/md-font.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/custom.css">
        {% block styles %}{% endblock %}

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->

        {% block headScripts %}{% endblock %}

        <title>{% block title %}{% endblock %} | Devtube Treinamentos</title>
    </head>
    <body id="page-top">
        <!-- PAGE WRAP -->
        <div id="page-wrap">
            {% block content %}{% endblock %}
        </div>

        <!-- Load jQuery -->
        <script type="text/javascript" src="/js/library/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/js/library/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/library/jquery.owl.carousel.js"></script>
        <script type="text/javascript" src="/js/library/jquery.appear.min.js"></script>
        <script type="text/javascript" src="/js/library/perfect-scrollbar.min.js"></script>
        <script type="text/javascript" src="/js/library/jquery.easing.min.js"></script>
        <script type="text/javascript" src="/js/scripts.js"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>
