{% extends 'layouts/base.html.twig' %}

{% block title %}Url's um tanto pequenas e grátis{% endblock %}

{% block content %}
    <div class="home-wrapper">
        <header class="logo">
            <h1 class="text-center"><strong>Small</strong>ish</h1>
        </header>
        <main>
            <form id="form-shorten">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="huge-url" id="huge-url-label" class="form-label">Insira sua URL enorme para ser encurtada:</label>
                            <input class="form-control form-control-lg" autofocus type="url" autocomplete="off" id="huge-url" name="huge-url" placeholder="http://your-huge-url.com" aria-label="http://your-huge-url.com">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-lg btn-shorten">
                                <i class="fas fa-check-circle"></i><span>Encurtar!</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="shortened-url-result">
                <a href="#" target="_blank">&nbsp;</a>
                <button data-url="https://glo.bo/2VE6uLN" class="btn btn-light copy-button">
                    <i class="far fa-copy"></i> Copiar
                </button>
                <button class="btn btn-link new-url">
                    Encurtar mais uma URL
                </button>
            </div>
            <div class="row">
                <div class="col-md-12 statistics">
                    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Make a donation', '#29abe0', 'S6S1673T9');kofiwidget2.draw();</script>
                    <p class="mt-3"><i class="fas fa-fire"></i> Mais de <strong>200</strong> URL's encurtadas e mais de <strong>300</strong> cliques.</p>
                </div>
            </div>
            <div class="row history-wrapper">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-link btn-toggle-history">
                        <i class="fas fa-history"></i><span>Ver meu histórico</span>
                    </button>
                    <div class="shortened-urls">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
